<section id="goParent">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-content">
                        <div class="section-content-inner">
                            <h2 class="section-heading">My Kids</h2>
                                    <form action="/kids/add" method="POST">
                                        <input type="text" name="kid_name" placeholder="what's the name of the kid?" /><br />
                                        <input type="text" name="kid_email" placeholder="what's the email of the kid?" /><br />
                                        <input type="submit" value="Add Kid"></input>
                                    </form>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>E-mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each kids}}
                                        <tr>
                                            <td> {{this.username}} </td>
                                            <td> {{this.email}} </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <!-- <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen"> -->
                                    

                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <!-- <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""> -->
                                <!-- </div>
                                <div class="button"> -->
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
<!--                                 </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Books Section -->
    <section id="kidsBooks" class="kidsBooks bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Kid's Books</h2>
                            <form class="create-update-form" action="/kids/log" method="POST">
                                <label>My Kids: 
                                    <select name="kid" >

                                        {{#each kids}}
                                            <option value="{{this.email}}"> {{this.username}} </option>
                                         {{/each}} 


                                       <!--      <option value= 1 > Child 1 </option>
                                            <option value= 2 > Child 2 </option>
                                            <option value= 3 > Child 3 </option>
                                            <option value= 4 > Child 4 </option>
                                            <option value= 5 > Child 5 </option> -->
                        
                                    </select>
                                </label>
                                     <input type="text" name="kid_book" placeholder="what's the name of the book?" /><br />
                                     <input type="submit" value="Add Book"></input>
                                </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Kid's Name</th>
                                <th>Book Title</th>
                                <th>Current Page</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each kidbooks}}
                                <tr>
                                    <td> {{this.user_id}} </td>
                                    <td> {{this.title}} </td>
                                    <td> {{this.current_page}} </td>
                                </tr>
                            {{/each}} 

                            <!-- <tr>
                                <td>Chris</td>
                                <td>First Book</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Chris</td>
                                <td>Second Book</td>
                                <td>70</td>
                            </tr>
                            <tr>
                                <td>Jon</td>
                                <td>First Book</td>
                                <td>0</td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- My Progres Section -->
    <section id="kidsProgress" class="kidsProgress text-center">
    <!-- <section id="download" class="download bg-primary text-center"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Kid's Progress</h2>
                    
                    <form>
                        <input list="period" name="progress" >

                        <datalist id="period">
                            <option value="Current Week">
                            <option value="Previous Week">
                            <option value="Last 30 days">
                            <option value="Last 90 days">
                        </datalist>


                        <input type="submit" name="report" value="Go">
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Time (minutes)</th>
                            </tr>
                        </thead>

                        <tbody>

                            {{#each logs}}
                                <tr>
                                    <td> {{this.log_created}} </td>
                                    <td> {{this.title}} </td>
                                    <td> {{this.time_lapsed}} </td>
                                </tr>  
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td> </td>
                                <td>Total Minutes:</td>
                                <td> {{sum}} </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" >
            var user_id={{this.user_id}}
    </script>